@use "styles/common" as common;

$topOffset: calc(var(--decorator-sticky-offset, 0px) + 1rem);
$bottomOffset: 2rem;

.leftMenu {
  top: $topOffset;
  margin-bottom: 0;

  @media #{common.$mq-screen-tablet-and-desktop} {
    overflow: auto;
    max-height: calc(100vh - #{$topOffset} - #{$bottomOffset});
  }

  & * {
    word-break: break-word;
  }

  > :not(:first-child):not(:last-child) {
    margin-bottom: 1rem;
  }
}

.leftMenuSticky {
  position: sticky;
}
