@use "styles/globals" as common;

$topOffset: calc(var(--decorator-sticky-offset, 0px) + 1rem);
$bottomOffset: 2rem;

.leftMenu {
  top: $topOffset;

  @media #{common.$mq-screen-tablet-and-desktop} {
    overflow: auto;
    max-height: calc(100vh - #{$topOffset} - #{$bottomOffset});
  }

  & * {
    word-break: break-word;
  }
}

.leftMenuSticky {
  position: sticky;
}
