@use "styles/common" as common;

$common-border-width: common.px-to-rem(4px);
$common-border-radius: common.px-to-rem(8px);
$common-input-max-width: common.px-to-rem(140px);

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  .calculatorFieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    width: 100%;
    margin-bottom: 1.5rem;

    .calculatorTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 100%;
      margin-bottom: 0.5rem;

      .calculatorIcon {
        margin-right: 1rem;
      }
    }

    .calculatorDecorativeLine {
      width: 95%;
    }

    .incomeInputContainer {
      display: flex;
      flex-direction: row;
    }

    .inputContainer {
      display: flex;
      align-items: center;
    }

    .singleInputContainer {
      --label-margin-bottom: 0.1rem;
    }

    .multipleInputContainer {
      --label-margin-bottom: 0.75rem;
    }

    .textField {
      margin-bottom: 0.625rem;

      > :global(.navds-text-field__input) {
        width: auto;
        max-width: $common-input-max-width;
      }

      label {
        max-width: 170px;
        color: var(--a-text-subtle);
        font-size: var(--a-font-size-large);
        font-weight: var(--a-font-weight-regular);
        letter-spacing: 0;
        line-height: var(--a-font-line-height-large);
      }
    }

    .textFeild36 {
      margin-bottom: 1.75rem;
    }

    .lastThirySixMonthPeriodContainer {
      margin-top: 1rem;
    }

    .radioGroup {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      .radioGroup_description {
        margin-bottom: var(--a-spacing-4);
      }
    }

    .select {
      margin-top: 1.5rem;

      > :global(.navds-select__container) {
        width: auto;
      }
    }

    .button {
      margin-top: 1.5rem;
      max-width: fit-content;
    }
  }

  .resultTablesContainer {
    scroll-margin-top: 0.75rem;
  }
}
