.container {
  display: flex;
  flex-direction: column;

  .textField {
    margin-bottom: 1rem;
  }

  .radioGroup {
  }

  .select {
    margin-top: 1rem;
  }

  .button {
    max-width: fit-content;
    margin: 1rem auto;
  }

  .resultTablesContainer {
    scroll-margin-top: 0.75rem;
  }
}
