@use "styles/common" as common;

$common-border-radius: common.px-to-rem(5px);
$common-padding: 1.5rem 1.5rem;

.container {
  display: flex;
  flex-direction: column;

  .resultBox {
    display: flex;
    flex-direction: column;
    background-color: var(--a-orange-200);
    margin-bottom: common.px-to-rem(2px);
    border-radius: $common-border-radius;
    padding: $common-padding;

    .title {
      color: black;
      font-size: 2rem;
      line-height: 2.28969rem; /* 114.485% */
      margin: 0;
    }
  }

  .resultExplanationBox {
    background-color: var(--a-orange-100);
    border-radius: $common-border-radius;
    padding: $common-padding;
  }
}
