@use "styles/common" as common;

$common-border-radius: common.px-to-rem(5px);

.container {
  background-color: var(--a-green-50);
  border-radius: $common-border-radius;
  padding: 1rem;

  .title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .resultBox {
    text-align: center;
    color: var(--a-green-900);
    background-color: var(--a-green-100);
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    > * {
      width: 100%;
    }

    &_title {
      margin-bottom: var(--a-spacing-1);
    }
  }

  .resultText {
    &_title {
      margin-bottom: 1rem;
    }

    &_content {
      margin-bottom: 1rem;
    }
  }

  .resultDescriptionList {
    > dt {
      margin-bottom: 0.25rem;
    }

    .decorativeHorziontalLine {
      display: block;
      unicode-bidi: isolate;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      margin-inline-start: auto;
      margin-inline-end: auto;
      overflow: hidden;
      border-style: inset;
      border-width: 1px;
      margin-bottom: 0.75rem;
    }

    > dd {
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
