@use "styles/common" as common;

.container {
  width: 100%;
  background-color: var(--a-bg-default);
  padding: 1rem;
}

.title {
  margin-bottom: 0.5rem;
}

.linkList {
  display: flex;
  flex-direction: column;
  @include common.unstyled-list();
}

.link {
  $horizontalPadding: 0.5rem;
  $verticalPadding: 0.6875rem;
  padding: $verticalPadding $horizontalPadding;
  margin: 0 -#{$horizontalPadding};

  // link-border-bottom-mixin inside .linkText creates animated underline
  // which is why we need to disable the default text-decoration
  text-decoration: none;

  &:focus,
  &:focus-visible,
  &:active {
    @include common.panel-focus-mixin();
    background-color: transparent;
    color: var(--a-text-action);
  }
}

.linkText {
  display: inline;
  @include common.link-border-bottom-mixin;
}
