.container {
  background-color: hsl(0, 100%, 38%, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--navds-semantic-color-canvas-background-light);
  font-size: 1.3rem;
  padding: 1rem;
  width: 25rem;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-9rem, 0rem) rotate(-45deg);
  z-index: 1000;

  > p {
    margin: 0;
  }

  .checkbox {
    margin-top: 0.5rem;
  }
}
