.whiteSpacePreline {
  white-space: pre-line;
}

.typography {
  &__normalCompact {
    margin-bottom: var(--a-spacing-5);
  }

  &__normalM1 {
    margin-bottom: var(--a-spacing-2);
  }
}

.linkInline {
  display: inline;
}

.pre {
  font-size: 0.75rem;
  white-space: break-spaces;
  word-break: break-word;
}
