.whiteSpacePreline {
  white-space: pre-line;
}

.button {
  max-width: fit-content;
}

.typography {
  &__normalCompact {
    margin-bottom: var(--a-spacing-5);
  }

  &__normalM1 {
    margin-bottom: var(--a-spacing-2);
  }
}

.linkInline {
  display: inline;
}
