#__next {
  background-color: var(--a-bg-subtle);
}

html,
body {
  scroll-behavior: smooth;
}

.income-periods .navds-label {
  font-weight: normal;
  margin-right: 1rem;
  margin-bottom: var(--label-margin-bottom);
}

.not-printable {
  @media print {
    display: none !important;
  }
}

@media print {
  .anchor-ref,
  [id].is-anchor-target::after {
    word-break: break-all;
    text-decoration: underline dotted #0067c5;
  }

  [id].is-anchor-target::after {
    content: " #" attr(id) " ";
  }

  a[href]:not([href^="#"]) {
    color: #0067c5 !important;
  }

  a[role="button"] {
    border: 1px solid #0067c5 !important;
  }

  *,
  *::before,
  *::after {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .navds-checkbox__label::before,
  .navds-radio__label::before {
    border: 2px solid black !important;
    box-shadow: none !important;
  }

  .navds-checkbox__input:checked + .navds-checkbox__label::before,
  .navds-radio__input:checked + .navds-radio__label::before {
    background-color: #0067c5 !important;
    border-color: #0067c5 !important;
  }
}
