#__next {
  background-color: var(--a-bg-subtle);
}

html,
body {
  scroll-behavior: smooth;
}

.navds-label {
  font-weight: normal;
  margin-right: 1rem;
  margin-bottom: var(--label-margin-bottom);
}