@use "styles/common" as common;

.rootContainer {
  scroll-behavior: smooth;
  max-width: 90rem;
  min-height: 22.5rem;
  margin: 0 auto;
  font-size: 1.125rem;
  line-height: 1.75rem;

  @media #{common.$mq-screen-mobile} {
    padding: 0 common.$padding-sides-mobile 2rem common.$padding-sides-mobile;
  }

  @media #{common.$mq-screen-tablet} {
    padding: 0 common.$padding-sides-tablet 2rem common.$padding-sides-tablet;
  }

  @media #{common.$mq-screen-desktop} {
    padding: 0 common.$padding-sides-desktop 2rem common.$padding-sides-desktop;
  }
}

$sectionMaxWidth: common.px-to-rem(600);
$sideMenusMaxWidth: common.px-to-rem(288);
$sectionGutterLarge: 1.5rem;
$sectionGutterSmall: 0.75rem;
$verticalMargin: 1.75rem;

.main {
  .productPage {
    display: flex;
    flex-direction: column;

    .content {
      align-self: center;
      width: 100%;

      // Break out of the global app padding for better screen-width usage
      // on narrower screens
      @media #{common.$mq-screen-tablet-and-desktop} {
        margin-left: -(common.$padding-sides-tablet);
        margin-right: -(common.$padding-sides-tablet);
      }

      @media #{common.$mq-screen-desktop} {
        margin-left: -(common.$padding-sides-desktop);
        margin-right: -(common.$padding-sides-desktop);
      }

      .layoutContainer {
        max-width: common.px-to-rem(1080);
        margin: 0 auto;

        .topRow {
          display: flex;
          flex-direction: column;
          margin-top: 1.75rem;

          @media #{common.$mq-screen-tablet-and-desktop} {
            flex-direction: row;
            margin-top: 3rem;
          }
        }

        .leftCol {
          max-width: $sectionMaxWidth;
          margin-bottom: 2rem;

          > section {
            margin-bottom: 2rem;
          }

          @media #{common.$mq-screen-tablet-and-desktop} {
            width: $sideMenusMaxWidth;
            max-width: $sideMenusMaxWidth;
            margin-right: $sectionGutterSmall;
          }

          @media #{common.$mq-screen-desktop} {
            margin-right: $sectionGutterLarge;
          }
        }

        .mainCol {
          max-width: 100%;

          > section {
            width: 100%;
            max-width: $sectionMaxWidth;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
