.container {
  box-shadow: inset 0 0 0 8px var(--a-border-focus-on-inverted);
  border-radius: 0.2rem;
  background-color: var(--a-surface-default);
  padding: 1.6rem;

  .description {
    margin: 1.5rem 0;
  }
}
