@use "styles/globals" as common;
@use "sass:math";

.header {
  display: flex;
  justify-content: center;
  background-color: var(--navds-semantic-color-canvas-background-light);
  margin: 0 calc((100vw - 100%) / -2);
  padding: 0 calc((100vw - 100%) / 2);
  padding-bottom: 1.5rem;

  box-shadow: 0 -4px 0 var(--navds-global-color-green-500) inset;
  @include common.full-width-mixin;

  @media #{common.$mq-screen-mobile} {
    padding-left: 1rem;
    padding-right: 1rem;

    .illustration {
      display: none;
    }
  }
}

.illustration {
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
  margin-right: 2rem;
  pointer-events: none;
}

.text {
  width: 100%;
  max-width: 63.5rem;
}

.taglineWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media #{common.$mq-screen-mobile} {
    flex-direction: column;
    align-items: stretch;
  }
}

.taglineLabel {
  @media #{common.$mq-screen-mobile} {
    margin-bottom: 0.5rem;
  }
}

.divider {
  padding: 0 1rem;
  color: var(--navds-global-color-gray-600);
  @media #{common.$mq-screen-mobile} {
    display: none;
  }
}

.modifiedLabel {
  color: var(--navds-global-color-gray-900);
}
